<body>
    <img class="logo" src="assets/images/dazzle-blue.png" alt="App Logo Home">
    <section class="button-row">
        <button routerLink="my-projects" class="button" mat-raised-button>
            <mat-icon color="primary" class="icon">folder</mat-icon>
            My Projects
        </button>
        <button routerLink="my-stories" class="button" mat-raised-button>
            <mat-icon color="primary" class="icon">comment</mat-icon>
            My Stories
        </button>
        <button routerLink="settings" class="button" mat-raised-button>
            <mat-icon color="primary" class="icon">settings</mat-icon>
            Settings
        </button>
        <button routerLink="user" class="button" mat-raised-button>
            <mat-icon color="primary" class="icon">person</mat-icon>
            My Account
        </button>
    </section>
</body>